.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: var(--timer-background-color);
  border: var(--timer-border);
  height: var(--timer-height);
  width: var(--timer-width);
}

.timer-button-container {
  display: flex;
  padding: 20px 0px;
  border-top: var(--timer-border);
}
